mixin panelTitle(title, helpUrl, toggleTarget)
    div.w-100.d-flex.flex-row.flex
        if !toggleTarget
            h5.card-title.mb-0= title
        else
            - var tt = toggleTarget.startsWith('#') ? toggleTarget : '#' + toggleTarget
            h5.card-title.mb-0
                a(data-toggle='collapse' data-target='#{tt}' role="button") #{title} <i class='fas fa-chevron-down'></i>
        if helpUrl
            div.ml-auto
                a(href='#{helpUrl}' target='_blank') Help

doctype html
html
  head
    title #{glob.title} - #{title}
    link(rel='stylesheet', href='/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/content/wicked.css')
    link(rel="stylesheet", href="/assets/highlight/css/default.css")
    link(rel='stylesheet', href='/assets/jsgrid/jsgrid.min.css')
    link(rel='stylesheet', href='/assets/jsgrid/jsgrid-theme.min.css')
    link(rel='stylesheet', href='/assets/css/override.css')
    script(defer src='https://use.fontawesome.com/releases/v5.5.0/js/all.js' integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous")
    script(src='/assets/highlight/highlight.js')

    block scripts
  body
    if authUser && authUser.id == '1'
        br
        br
        .container
            .card.border-danger
                .card-header.bg-danger.text-white
                    h4.card-title.mb-0 You are logged in as the Admin superuser!
                .card-body
                    p.
                        You are currently logged in as the Admin Superuser. This is okay if you are starting the
                        portal for the first time. You must only use this user to give your actual user admin rights
                        to the portal; after that, delete the password for the superuser (with the ID '1'), so that
                        it is no longer possible to log in as this user.

                    p Your Todos right now are:

                    ul
                        li
                            a(href='/admin/users') Go to the Admin/Users page, find your own user, and assign an 'admin' group to it
                        li
                            a(href='/users/1') Open this User's user profile, and delete the password from it

                    p.
                        If you don't have a user in your own name yet, please create that user first, either by signing
                        up using email address or password, or by using one of the federated logins you have configured (if applicable).


    nav(class="navbar navbar-dark bg-dark shadow-sm fixed-top navbar-expand-md")
        .container
            a.navbar-brand(href=glob.layouts.defautRootUrl target=glob.layouts.defautRootUrlTarget)
                if glob.layouts.defautRootUrlText != null
                    span= glob.layouts.defautRootUrlText
                else
                    img(src='/content/images/wicked-40.png' style='margin-top: 5px; margin-right: 5px;' title='wicked project home')

            button(type="button", class="navbar-toggler", data-toggle="collapse", data-target="#navbar", aria-expanded="true", aria-controls="navbar")
                span.navbar-toggler-icon

            div(id="navbar", class="collapse navbar-collapse")
                ul(class="navbar-nav")
                    if (route == '/')
                        li.nav-item.active
                            a(href="/", class="nav-link")= glob.layouts.menu.homeLinkText
                    else
                        li.nav-item
                            a(href="/", class="nav-link")= glob.layouts.menu.homeLinkText
                    if route == '/apis'
                        li.nav-item.active
                            a(href="/apis", class="nav-link") APIs
                    else if glob.layouts.menu.apisLinkVisibleToGuest || authUser
                        li.nav-item
                            a(href="/apis", class="nav-link") APIs
                    if route == '/applications'
                        li.nav-item.active
                            a(href='/applications', class="nav-link") Applications
                    else if glob.layouts.menu.applicationsLinkVisibleToGuest || authUser
                        li.nav-item
                            a(href='/applications', class="nav-link") Applications
                    if route == '/content/contact'
                        li.nav-item.active
                            a(href="/content/contact", class="nav-link") Contact
                    else if glob.layouts.menu.contactLinkVisibleToGuest || authUser
                        li.nav-item
                            a(href="/content/contact", class="nav-link") Contact
                    if route == '/content/toc'
                        li.nav-item.active
                            a(href="/content/toc", class="nav-link") Content
                    else if glob.layouts.menu.contentLinkVisibleToGuest || authUser
                        li.nav-item
                            a(href="/content/toc", class="nav-link") Content
                ul(class='nav navbar-nav #{glob.layouts.menu.classForLoginSignupPosition == "left" ? "mr-auto" : "ml-auto"}')
                    if !authUser
                        if route == '/login'
                            li.nav-item.active
                                a(href="/login", class="nav-link")= glob.layouts.menu.loginLinkText
                        else
                            li.nav-item
                                a(href="/login", class="nav-link")= glob.layouts.menu.loginLinkText
                if authUser
                    ul(class='navbar-nav')
                        li.nav-item
                            a(href='/users/me', class="nav-link")= authUser.name
                        li(class='dropdown nav-item')
                            a(href='#' class='nav-link dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
                                i(style='font-size: 16px;' class='fas fa-cog')
                            div(class='dropdown-menu')
                                a(href='/users/me' class='dropdown-item') User Profile
                                div.dropdown-divider
                                if authUser.admin
                                    a(href='/admin/approvals' class='dropdown-item') Pending Approvals
                                    a(href='/admin/users' class='dropdown-item') All Users
                                    a(href='/admin/applications' class='dropdown-item') All Applications
                                    a(href='/admin/subscribe' class='dropdown-item') Subscription Cheat Page
                                    div.dropdown-divider
                                    a(href='/admin/listeners' class='dropdown-item') Webhook Listeners
                                    a(href='/admin/verifications' class='dropdown-item') Pending Verifications
                                    a(href='/admin/health' class='dropdown-item') System Health
                                else if authUser.approver
                                    a(href='/admin/approvals' class='dropdown-item') Pending Approvals
                                div.dropdown-divider
                                a(href='/help' class='dropdown-item') Help
                                a(href='/login/logout' class='dropdown-item') Log out


    block content

    hr
    .container
        footer
            table(width='100%')
                tr
                    td(style='text-align:left; color: #999999;')!= glob.footer
                    td(style='text-align:right; color:#999999;')
                        if glob.layouts.footer.showBuiltBy
                            | Built by <a href='http://www.haufe-lexware.com' target='_blank'>Haufe-Lexware</a>, powered by <a href='https://www.konghq.com' target='_blank'>Kong</a>.
                tr
                    if (authUser && authUser.admin)
                        td(colspan=2 style='text-align:right; color: #cccccc; font-size: 10pt;') Portal Build: #{glob.buildDate} -- <a href='/admin/health'>Config Build: #{glob.configDate}</a>
                    else if glob.layouts.footer.showBuilds
                        td(colspan=2 style='text-align:right; color: #cccccc; font-size: 10pt;') Portal Build: #{glob.buildDate} -- Config Build: #{glob.configDate}
                if !glob.isProduction
                    tr
                        td(colspan=2 style='text-align:center; color: #ff0000; font-size:18pt;') PORTAL IS RUNNING IN DEVELOPMENT MODE

    script(src='/assets/jquery/jquery.min.js')
    script(src='/assets/bootstrap/js/bootstrap.min.js')
    script(src='/assets/js/bootstrap-show-password.min.js')
    script(src='/assets/jsgrid/jsgrid.min.js')
    script(src='/assets/js/utils.js')

    block bodyScripts
